Repository Hassan-Lee/react-dva-ts-webpack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
    "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write", "git add"],
    "src/**/*.less": ["stylelint --fix", "prettier --write", "git add"]
}

test: test git commit
  .huskyrc.js
Due: none

feat: add exception
  src/pages/Exception/403.tsx
  src/pages/Exception/404.tsx
  src/pages/Exception/500.tsx
Due: eslint --fix, prettier --write

feat: add less modules
  build/rules/styleRules.js
  my-app/package.json
  my-app/yarn.lock
  src/layouts/DesignLayout.tsx
Due: eslint --fix, prettier --write

feat: eslit config
  .eslintrc.js
  my-app/.gitignore
  my-app/README.md
  my-app/package.json
  my-app/public/favicon.ico
  my-app/public/index.html
  my-app/public/logo192.png
  my-app/public/logo512.png
  my-app/public/manifest.json
  my-app/public/robots.txt
  my-app/src/App.css
  my-app/src/App.test.tsx
  my-app/src/App.tsx
  my-app/src/index.css
  my-app/src/index.tsx
  my-app/src/logo.svg
  my-app/src/react-app-env.d.ts
  my-app/src/serviceWorker.ts
  my-app/tsconfig.json
  my-app/yarn.lock
  src/layouts/DesignLayout.tsx
Due: eslint --fix, prettier --write

fix: remove other app
  my-app/.gitignore
  my-app/README.md
  my-app/package.json
  my-app/public/favicon.ico
  my-app/public/index.html
  my-app/public/logo192.png
  my-app/public/logo512.png
  my-app/public/manifest.json
  my-app/public/robots.txt
  my-app/src/App.css
  my-app/src/App.test.tsx
  my-app/src/App.tsx
  my-app/src/index.css
  my-app/src/index.tsx
  my-app/src/logo.svg
  my-app/src/react-app-env.d.ts
  my-app/src/serviceWorker.ts
  my-app/tsconfig.json
  my-app/yarn.lock
Due: none

feat: add basic menu
  src/components/Authorized/AuthorizedRoute.tsx
  src/components/SiderMenu.less
  src/components/SiderMenu.tsx
  src/layouts/BasicLayout.tsx
  src/models/global.ts
  src/pages/Data/DevTask.tsx
  src/pages/Data/OperationsCenter.tsx
  src/pages/Factory/Instance.tsx
  src/pages/Factory/Relation.tsx
  src/router/root.tsx
  src/router/router.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve not show anything
  package.json
  src/components/Authorized/Authorized.tsx
  src/components/Authorized/AuthorizedRoute.tsx
  src/components/Authorized/CheckPermissions.tsx
  src/components/Authorized/index.ts
  src/components/PageLoading/index.less.d.ts
  src/components/SiderMenu.less.d.ts
  src/layouts/BasicLayout.tsx
  src/layouts/Layout.less
  src/layouts/Layout.less.d.ts
  src/locales/loader.ts
  src/router/root.tsx
  src/router/router.ts
  src/utils/authority.ts
  src/utils/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: modified router
  src/router/router.ts
Due: eslint --fix, prettier --write

feat: add git commit eslint
  package.json
Due: none

test: test lint
  package.json
Due: none

test: test lint
  package.json
  src/components/Authorized/AuthorizedRoute.tsx
  src/components/Authorized/AuthorizedTab.tsx
  src/components/Authorized/CheckPermissions.tsx
  src/components/Authorized/index.d.ts
  src/components/ErrorBoundary.tsx
  src/models/global.ts
  src/models/home.ts
Due: eslint --fix, prettier --write

fix: stylelint
  build/config.js
  build/plugins.js
  package.json
  src/setupTests.ts
  src/sw.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add relation pages
  package.json
Due: none

feat: update package.json
  package.json
Due: none

feat: edit gitignore
  .gitignore
  src/components/Global/Header.tsx
  src/components/Global/global.less
  src/components/Sider/Menu.less
  src/components/Sider/Menu.tsx
  src/index.ts
  src/pages/Factory/Gather/Container.tsx
  src/pages/Factory/Relation/Container.less
  src/pages/Factory/Relation/Container.less.d.ts
  src/pages/Factory/Relation/Container.tsx
  src/pages/Factory/Relation/components/Content.less
  src/pages/Factory/Relation/components/Content.less.d.ts
  src/pages/Factory/Relation/components/Content.tsx
  src/pages/Factory/Relation/components/Header.less
  src/pages/Factory/Relation/components/Header.less.d.ts
  src/pages/Factory/Relation/components/Header.tsx
  src/pages/Factory/Relation/components/List.less
  src/pages/Factory/Relation/components/List.less.d.ts
  src/pages/Factory/Relation/components/List.tsx
  src/pages/HomePage/Home.tsx
  src/pages/Root.tsx
  src/router/menu.config.ts
  src/router/route.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

test: test
  src/pages/HomePage/Home.tsx
Due: eslint --fix, prettier --write
